@font-face {
	font-family: Calculator;
	src: url(./font/Calculator.ttf);
}

.calculator {
	display: flex;
	margin: auto;
	justify-content: center;
	font-family: 'Calculator';
	width: 100%;
}

.calc-container {
	border: 1em solid rgb(53, 53, 53);
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(100px, auto) repeat(5, 80px);
	background-color: black;
	gap: 2px;
}

@media (max-width:500px){
	.calc-container {
		grid-template-columns: repeat(4, 75px);
		grid-template-rows: minmax(100px, auto) repeat(5, 100px);
	}

}

.calc-screen {
	grid-column: 1 / -1;
	display: flex;
	background-color: rgb(202, 201, 201);
	align-items: flex-end;
	flex-direction: column;
	margin: 5px;
	padding: 5px;
}

#previous-op-screen, #current-op-screen {
	min-height: 1.5em;
}

#previous-op-screen {
	font-size: 1.75em;
}

#current-op-screen {
	font-size: 2.5em;
}

#reset-button, #equal-button {
	grid-column: span 2;
}

#reset-button, #delete-button  {
	background-color: red;
	color: white;
}

#equal-button {
	background-color: blue;
	color: white;
}

.operator-button {
	background-color: darkgray;
}

button {
	font-size: 2em;
	border: none;
	cursor: pointer;
	background-color: rgb(202, 201, 201);
}